/*fundo vermelho + fundo branco*/
body{
	background-color: #BC2302;
	margin: 0;
}

.fundobranco{
	max-width: 1300px;
	margin: 0px auto;
	bottom: 15px;
	top: 50px;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 80px;
}

/*voltar a trás*/
a .goback{
	color: black;
}

.gobackdiv{
	padding-left: 121px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
}

/*tentativa de por as margens para tudo
.divmargens{
	margin-left: 60px;
	margin-right: 60px;
}
*/

/*titulo*/
.titulopaginas{
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 40px;
	padding-left: 60px;
}

/*imagens + legenda*/
.imagens_esquerda{
	float: left;
	margin: 1px;
	padding-left: 47px;
	padding-right: 30px;
}

.linkspagequipas{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding-top: 20px;
	color: black;
	padding-bottom: 40px;
}

a:hover{
	color: white;
    background-color: #360A00;
    padding: 10px;
    padding-right: 36px;
}

/*Subtitulo pag, principal + textos*/

.subtitulos {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-size: 17px;
	padding-left: 0px;
}


.textosprincipais{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	padding-left: 60px;
	padding-right: 66px;
	text-align: justify;
}

/*Segunda página*/

/*retangulo*/

.fundobrancodois{
	max-width: 1300px;
	margin: 0px auto;
	bottom: 15px;
	top: 50px;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 230px;
}

.retangulodecor{
	background-color: #DC3E3E;
	margin: 30px;
	max-width: 1200px;
	padding: 80px;
	padding-top: 1px;
	/*margin: auto;*/
}

.titulo{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 30px;
	padding-left: 30px;
	margin: auto;
	padding-top: 19px;
}

.flotesretangulo{
	float: left;
}

.logoalfa{
	margin-left: 20px;
	margin: auto;
	padding-top: 7px;
}

/*History in Formula One*/
.tituloalafahistory{
	padding-left: 420px;
	padding-top: 17px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 40px;
	padding-bottom: 2px;

}

/*retangulo + imagens*/


.retangulofotos{
	background-color: #2E2323;
	margin: 30px;
	padding-bottom: 100px;
	margin-right: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 34px;
	float: left;
}

.imagensespaços{
	padding-bottom: 30px;
}

.texto_ferrari{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding-left: 420px;
	padding-right: 49px;
	text-align: justify;
	padding-top: 1px;
	padding-bottom: 10px;
}

.texto_ferraridois{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding-left: 420px;
	padding-right: 49px;
	text-align: justify;
	padding-top: 1px;
	padding-bottom: 151px;
}

/*terceira página*/


.retangulodecordois{
	background-color: #FF0000;
	margin: 30px;
	max-width: 1200px;
	padding: 80px;
	padding-top: 1px;
	/*margin: auto;*/
}

.tituloferrari{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 30px;
	padding-left: 30px;
	margin: auto;
	padding-top: 19px;
}

.flotesretangulodois{
	float: left;
}

.logoferrari_{
	margin-left: 20px;
	margin: auto;
	padding-top: 5px;
}

/*quadrado imagens*/

.gobackdivdois{
	padding-left: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	padding-top:24px;

}

.retangulofrases{
	background-color: #FF0000;
	/*margin: 30px;*/
	max-width: 1200px;
	padding: 80px;
	/*padding-top: 96px*/
	margin-left: 420px;
	margin-right: 48px;
}

.arranjoaspas{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 23px;
	padding-left: 30px;
	margin: auto;
	padding-top: 19px;
}

.nomelink {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 25px;
	padding-left: 30px;
	margin: auto;
	padding-top: 19px;
}

.arranjolista{
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	/*padding-left: 5px;*/
	margin: auto;
	/*padding-top: 1px;*/
}

.titulolista{
	
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding-left: 390px;
}

.listaferrari{
	padding-left: 30px;
	font-size: 20px;
	/*padding-left: 100px;*/
	margin: auto;
	padding-top: 19px;
}

.vamosesquerda{
	float: left;
	/*margin: 20px;*/
	padding-left: 350px;
}

.vamosesquerdacoluna{
	float: left;
	/*margin: 20px;*/
	
}

/*quarta pagina*/

.logo_redbull{
	margin-left: 20px;
	margin: auto;
	padding-top: 12px;
}

.retanguloredbull{
	background-color: #00176D;
	margin: 30px;
	max-width: 1200px;
	padding: 80px;
	padding-top: 1px;
}

.retangulofrasesredbull{
	background-color:  #00176D;
	/*margin: 30px;*/
	max-width: 1200px;
	padding: 80px;
	/*padding-top: 96px*/
	margin-left: 420px;
	margin-right: 48px;
}

.texto_redbull{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding-left: 420px;
	padding-right: 49px;
	text-align: justify;
	padding-top: 1px;
	padding-bottom: 3px;
}

.texto_redbulldois{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding-left: 420px;
	padding-right: 49px;
	text-align: justify;
	padding-top: 1px;
	padding-bottom: 3px;
}

.arranjoaspasredbull{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 23px;
	padding-left: 30px;
	margin: auto;
	padding-top: 19px;
}